{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="card p-4 shadow-sm">
    <h4>Your Progress</h4>
    <p><strong>Current Level:</strong> {{ user.current_level }}</p>
    <p><strong>Total Score:</strong> {{ user.total_score }}</p>

    <div class="progress mb-3">
        <div class="progress-bar bg-success"
             style="width: {{ (user.current_level / 4) * 100 }}%;">
            {{ (user.current_level / 4) * 100 }}%
        </div>
    </div>
</div>

<div class="row mt-4 text-center">

    {% for level in range(1,5) %}
    <div class="col-md-3">
        <div class="card level-card p-4 shadow-sm
        {% if user.current_level >= level %}
            bg-success text-white
        {% else %}
            bg-secondary text-white
        {% endif %}
        ">
            <h5>Level {{ level }}</h5>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
